<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>chat group</h3>
<ul id="group">
</ul>
<pre id="status"></pre>
<input id="input" type="text"/>
<button onclick="send()">Send</button>
<script>
    let user = {
        userId: ""
    };
    let groupMsg = {
        content: [user],
        topic: ""
    };
    const input = document.getElementById("input");
    const status = document.getElementById("status");
    const group = document.getElementById("group");
    const socket = new WebSocket("ws://localhost:8080/us-push?userId=andy");
    socket.onopen = function () {
        status.innerHTML += "Status: Connected\n";
    };

    socket.onmessage = function (e) {
        groupMsg = JSON.parse(e.data);
        let list = "";
        groupMsg.content.forEach(value => {
            list += "<li>" + value.userId + "</li>"
        });
        group.innerHTML = list;
        // output.innerHTML += "Server: " + groupMsg.content[0].userId + "\n";
    };

    function send() {
        socket.send(input.value);
        input.value = "";
    }

</script>
</body>
</html>